.buy-form-product-user div {
  margin-top: 15px;
}

.right {
  float: right;
  margin-right: 5%;
}

.left {
  float: left;
  margin-left: 5%;
}
.seller-inf * {
  margin-top: 15px;
}
.search-form-product-user .search-input {
  display: inline-block;
  position: relative;
  height: 42px;
  min-height: 42px;
  min-width: 256px;
  width: 256px;
}
.search-form-product-user input {
  color: black;
  height: 42px;
  min-height: 42px;
  min-width: 256px;
  width: 256px;
  box-sizing: border-box;
  padding: 4px;
}


.search-form-product-user button {
  position:absolute;
  background: white;
  color: black;
  border: 0;
  min-height: 40px;
  height: 40px;
  min-width: 40px;
  width: 40px;
  right: 4px;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 10;
}

.form-choice {
  position: absolute;
  min-height: 200px;
  height: 200px;
  min-width: 256px;
  width: 256px;
  background-color: white;
  z-index: 10;
  padding: 10px;
  margin: 0;
  visibility: hidden;
  box-shadow: 2px 2px 10px;
}

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

.container-fluid .row {
  margin-bottom: 15px;
}

.payment-details {
  margin-top: 30px;
}

.addcart {
  margin-top: 40px;
}

.buynow {
  margin-top: 15px;
}

.payment-details .eventos {
  min-width: 250px;
  width: 250px;
  text-align: center;
}
.price {
  color: lightblue;
  font-size: 2em;
}

p {
  color: #686868 !important;
}

.carrito {
  background-color: #33CCCC !important;
  color: white !important;
}
